@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;700&display=swap');

body {
  font-family: 'Eczar', serif;
  background-image: linear-gradient(black, purple, pink);
  height: 120vh;
  margin: 10px -1px;
}

#navbar {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: black;
  border-bottom: 3px solid #1bfd9c;
  margin-bottom: 2em;
  z-index: 5;
}
#navbar a {
  display:inline-block;
  font-size: 1.3em;
  text-align: center;
  text-decoration: none;
  padding: 4px 15px;
}
a:link {
  color: #a724cc;
}
a:visited {
  color: #fab6dd;
}

.header {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  top: 12%;
  overflow: visible;
  text-align: center;
  line-height: 25pt;
  font-weight: 600;
  width: 40vw;
  background-color: rgba(226, 255, 220, 0.5);
  border-radius: 30px;
  box-shadow: inset 5px 10px 20px -5px #ab90cb,
    inset -5px -5px 20px -5px #ab90cb,
    5px 5px 20px -5px #ab90cb,
    -5px -5px 20px -5px #ab90cb;
  padding: 15px;
}

.container {
  margin-top: 10em;
}

.image, #sections {
  min-height: 70vh;
  border-radius: 20px;
}
.image {
  float: left;
  width: 30vw;
  min-width: 250px;
  object-fit: cover;
  filter: saturate(200%);
  margin-left: 25px;
}

#sections {
  float: right;
  margin-right: 25px;
  width: 60vw;
  min-width: 350px;
  background-color: #ab90cb;
}
h2 {
  margin-left: 1em;
  color: #e2ffdc;
  text-shadow: 1pt -1.2pt #ab90cb;
}
p {
  margin-left: 3em;
  margin-right: 1em;
  margin-top: -1em;
  color: ghostwhite;
  letter-spacing: 1pt;
}
