@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Ubuntu:wght@300;400;500;700&display=swap');

body {
  font-family: 'Quicksand', sans-serif;
  background-color: honeydew;
  font-size: 1.3em;
}
h1, h2 {
  font-family: 'Ubuntu', sans-serif;
}

header {
  background-color: rgba(255,0,0,0.1);
  border: solid 2px red;
  padding: 10px;
  text-align: center;
  letter-spacing: 0.15em;
}

nav {
  background-color: rgba(255,165,0,0.1);
  border: solid 2px orange;
  font-weight: 500;
}
.label, #click {
  font-family: 'Ubuntu', sans-serif;
}

main {
  border: solid 3px blue;
}

section {
  background-color: rgba(0,128,0,0.1);
  border: solid 2px green;
  padding: 10px;
}

aside {
  background-color: rgba(75,0,130,0.1);
  border: solid 2px indigo;
  padding: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space:nowrap;
}
#click {
  border-bottom: solid 2px indigo;
  width: 14.5em;
  margin-top: 5px;
  letter-spacing: 1pt;
}
img {
  width: 21vw;
  max-width: 18em;
  min-width: 14em;
}

footer {
  background-color: rgba(238,130,238,0.1);
  border: solid 2px violet;
  text-align: center;
}
footer p {
  font-weight: 500;
  line-height: 2em;
}

a:link {
  color: firebrick;
}
a:visited {
  color: firebrick;
}
